@model WebApplication1.Models.Good

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить товар</h1>

<h4>Товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GoodId" />
            <div class="form-group">
                <label asp-for="PriceId" class="control-label">ПрайсИД</label>
                <select asp-for="PriceId" class="form-control" asp-items="ViewBag.PriceId"></select>
                <span asp-validation-for="PriceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyIntCol" class="control-label">Мое целочисленное поле</label>
                <input asp-for="MyIntCol" class="form-control" />
                <span asp-validation-for="MyIntCol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyStrCol" class="control-label">Мое строковое поле</label>
                <input asp-for="MyStrCol" class="form-control" />
                <span asp-validation-for="MyStrCol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyTextCol" class="control-label">Мое текстовое поле</label>
                <input asp-for="MyTextCol" class="form-control" />
                <span asp-validation-for="MyTextCol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку товаров</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
